In [1]:
pip install requests pandas

Requirement already satisfied: requests in c:\users\risha\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: pandas in c:\users\risha\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\risha\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\risha\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\risha\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\risha\anaconda3\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: numpy>=1.23.2 in c:\users\risha\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\risha\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\risha\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\risha\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\risha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import requests
import pandas as pd

def fetch_life_expectancy_data(url="https://ourworldindata.org/grapher/life-expectancy.csv"):
    # Request API 
    response = requests.get(url)
    
    # Checking if data fecting correctly
    if response.status_code == 200:
        # Read database
        df = pd.read_csv(url)
        return df
    else:
        print(f"Error: Failed to fetch data. Status code: {response.status_code}")
        return None

#  Examine data
df = fetch_life_expectancy_data()
print("Raw Life Expectancy Data:")
print(df.head())

# Rename the columns
df = df.rename(columns={"Entity": "Country", "Period life expectancy at birth - Sex: total - Age: 0": "Life Expectancy"})

# Required columns for analysis
df = df[["Country", "Year", "Life Expectancy"]]

# Drop blank rows
df = df.dropna()

# making sure that year in int and life expectancy as float
df["Year"] = df["Year"].astype(int)
df["Life Expectancy"] = df["Life Expectancy"].astype(float)

# Remove duplicates
df = df.drop_duplicates()

# Organizing data
df = df.sort_values(by=["Country", "Year"])

# clear data appearance
print("\nCleaned Life Expectancy Data:")
print(df.head())

Raw Life Expectancy Data:
        Entity Code  Year  \
0  Afghanistan  AFG  1950
1  Afghanistan  AFG  1951
2  Afghanistan  AFG  1952
3  Afghanistan  AFG  1953
4  Afghanistan  AFG  1954

   Period life expectancy at birth - Sex: total - Age: 0
0                                            28.1563
1                                            28.5836
2                                            29.0138
3                                            29.4521
4                                            29.6975

Cleaned Life Expectancy Data:
       Country  Year  Life Expectancy
0  Afghanistan  1950          28.1563
1  Afghanistan  1951          28.5836
2  Afghanistan  1952          29.0138
3  Afghanistan  1953          29.4521
4  Afghanistan  1954          29.6975

In [8]:
df.shape

(21565, 3)

In [10]:
df.describe()

               Year  Life Expectancy
count  21565.000000     21565.000000
mean    1976.992812        61.942238
std       38.461606        12.925909
min     1543.000000        10.989100
25%     1962.000000        52.703000
50%     1982.000000        64.479900
75%     2003.000000        71.978900
max     2023.000000        86.372400

In [12]:
# Export the DataFrame to an Excel file
df.to_excel('output.xlsx', index=False)

print("Data has been exported to 'output.xlsx'")

Data has been exported to 'output.xlsx'