# MODIFICATION IN DATA AFTER FETCHING IT FROM MONGODB

# FETCHING DATA FROM MONGODB

In [64]:
# IMPORTING REQUIRED LIBRARIES
import pandas as pd
from pymongo import MongoClient
from sqlalchemy import create_engine

In [65]:
# connect to Mongo db
mongo = MongoClient('mongodb://localhost:27017/')
my_database = mongo['life_expectancy_db']
my_collection = my_database['life_expectancy']

In [66]:
# collect all data and convert it in a list for dataframe
all_data = my_collection.find()
data_list = []
for item in all_data:
    data_list.append(item)

In [67]:
# Make a DataFrame with the data
my_dataframe = pd.DataFrame(data_list)
print("DATA COLLETCED FROM MONGO DB")

DATA COLLETCED FROM MONGO DB

In [68]:
my_dataframe.head()

                        _id      Country  Year  Life Expectancy
0  68026ba54ffc2e0c78267da7  Afghanistan  1950          28.1563
1  68026ba54ffc2e0c78267da8  Afghanistan  1951          28.5836
2  68026ba54ffc2e0c78267da9  Afghanistan  1952          29.0138
3  68026ba54ffc2e0c78267daa  Afghanistan  1953          29.4521
4  68026ba54ffc2e0c78267dab  Afghanistan  1954          29.6975

# DATA CLEANING

In [70]:
# removing id column
my_dataframe = my_dataframe.drop('_id', axis=1)

# round life expectancy
my_dataframe['Life Expectancy'] = my_dataframe['Life Expectancy'].round(2)

In [71]:
my_dataframe.head()

       Country  Year  Life Expectancy
0  Afghanistan  1950            28.16
1  Afghanistan  1951            28.58
2  Afghanistan  1952            29.01
3  Afghanistan  1953            29.45
4  Afghanistan  1954            29.70

In [72]:
my_dataframe.shape

(21565, 3)

# SAVING DATA BACK TO MONGO DB UPDATING PROCESSED DATA

In [73]:


# REMOVING OLD DATA
my_collection.drop()

# CONVERTING DATA INTO DICTONARY 
data_list = my_dataframe.to_dict('records')

# ADDED DATA TO MONGO DB
my_collection.insert_many(data_list)
print("I added the data to MongoDB")

# VERIFYING DATA
count = my_collection.count_documents({})
print("Total documents in MongoDB:", count)

# SHOW DATA TO VERIFY 
first = my_collection.find_one()
print("First document in MongoDB:", first)

# MAKING A INDEX
my_collection.create_index([("Country", 1), ("Year", 1)])
print("I made an index for Country and Year!")

# CLOSING CONNECTION
mongo.close()
print("Closed the MongoDB connection")

I added the data to MongoDB
Total documents in MongoDB: 21565
First document in MongoDB: {'_id': ObjectId('68026bafc88ec87a12a9a258'), 'Country': 'Afghanistan', 'Year': 1950, 'Life Expectancy': 28.16}
I made an index for Country and Year!
Closed the MongoDB connection